<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/spa.js"></script>
    <title>Criptoexchange</title>
</head>
<body>
    <header>
        <div class="container">
            Cripto Exchange
        </div>
    </header>
    <section class="container">
        <h1>
            Invierte en cripto y cambia tus criptos
        </h1>

        <div id="movements_list">
            <table id="movements_table">
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Desde</th>
                    <th>Cantidad</th>
                    <th>Hasta</th>
                    <th>Cantidad</th>
                </tr>
            </table>
            <table id="cantidades_disponibles">
                <tr></tr>
            </table>
        </div>
        <article id="movement_detail" class="inactive">
            <form id="movement_form">
                    <table>
                        <tr>
                            <td>
                                <label for="moneda_from">Moneda origen</label>
                                <select name="moneda_from" id="moneda_from" required>
                                    <option value="">Elige moneda</option>
                                    <option value="EUR">EUR</option>
                                    <option value="BTC">BTC</option>
                                    <option value="ETH">ETH</option>
                                    <option value="USDT">USDT</option>
                                    <option value="BNB">BNB</option>
                                    <option value="XRP">XRP</option>
                                    <option value="ADA">ADA</option>
                                    <option value="DOT">DOT</option>
                                    <option value="MATIC">MATIC</option>
                                </select>
                                <input type="number" name="cantidad_from" id="cantidad_from" step="0.01" placeholder="Cuánto quieres cambiar" required>
                            </td>
                            <td>
                                <label for="moneda_to">Moneda destino</label>
                                <select name="moneda_to" id="moneda_to" required>
                                    <option value="">Elige moneda</option>
                                    <option value="EUR">EUR</option>
                                    <option value="BTC">BTC</option>
                                    <option value="ETH">ETH</option>
                                    <option value="USDT">USDT</option>
                                    <option value="BNB">BNB</option>
                                    <option value="XRP">XRP</option>
                                    <option value="ADA">ADA</option>
                                    <option value="DOT">DOT</option>
                                    <option value="MATIC">MATIC</option>
                                </select>
                                <input type="number" name="cantidad_to" id="cantidad_to" step="0.01" placeholder="Cuánto quieres cambiar" required>
                            </td>
                        </tr>
                    </table>
                <div class="grid">
                    <button id="btn_cerrar">Cerrar</button>
                    <button id="btn_intercambiar">Intercambiar</button>
                </div>
                
            </form>
        </article>
    </section>
    <footer>
        <div class="container">
            &copy; 2022 - Hecho con amor por Alfredo Sánchez
        </div>
        
    </footer>
</body>
</html>